#content #dashboard .dashboard__left .timeBoard, .timeCard .timeCard__info {
  width: 255px;
  height: 199px;
  border-radius: 15px;
  background-color: #1c1f4a;
  padding: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  #content #dashboard .dashboard__left .timeBoard, .timeCard .timeCard__info {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  #content #dashboard .dashboard__left .timeBoard, .timeCard .timeCard__info {
    width: 100%;
  }
}

.work {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-work.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #ff8c66;
}

@media screen and (max-width: 1200px) {
  .work {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .work {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .work {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .work {
    width: 544px;
  }
}

.play {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-play.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #56c2e6;
}

@media screen and (max-width: 1200px) {
  .play {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .play {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .play {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .play {
    width: 544px;
  }
}

.study {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-study.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #ff5c7c;
}

@media screen and (max-width: 1200px) {
  .study {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .study {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .study {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .study {
    width: 544px;
  }
}

.exercise {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-exercise.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #4acf81;
}

@media screen and (max-width: 1200px) {
  .exercise {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .exercise {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .exercise {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .exercise {
    width: 544px;
  }
}

.social {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-social.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #7536d3;
}

@media screen and (max-width: 1200px) {
  .social {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .social {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .social {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .social {
    width: 544px;
  }
}

.self-care {
  width: 255px;
  height: 160px;
  border: unset;
  border-radius: 15px;
  background-image: url(/assets/images/icon-self-care.svg);
  background-position: top -10px right 18px;
  background-repeat: no-repeat;
  background-size: 78px;
  background-color: #f1c65b;
}

@media screen and (max-width: 1200px) {
  .self-care {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .self-care {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .self-care {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .self-care {
    width: 544px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 18px;
}

#content {
  height: 100vh;
  background-color: #0f1424;
}

#content #dashboard {
  height: 518px;
}

#content #dashboard .dashboard__left {
  height: 518px;
  position: relative;
}

#content #dashboard .dashboard__left .timeBoard {
  padding: 32px;
}

#content #dashboard .dashboard__left .timeBoard ul {
  list-style: none;
  margin-bottom: 0;
}

#content #dashboard .dashboard__left .timeBoard ul li {
  margin-top: 20px;
}

#content #dashboard .dashboard__left .timeBoard ul li a {
  color: #6f76c8;
  letter-spacing: 0;
  text-decoration: none;
}

#content #dashboard .dashboard__left .timeBoard ul li:hover a, #content #dashboard .dashboard__left .timeBoard ul li.active a {
  color: #ffffff;
}

#content #dashboard .dashboard__left .userCard {
  background-color: #5847eb;
  height: 354px;
  width: 255px;
  padding: 37px 32px;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

#content #dashboard .dashboard__left .userCard img {
  width: 78px;
  height: 78px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

#content #dashboard .dashboard__left .userCard p {
  font-size: 15px;
  color: #bdc1ff;
  margin-top: 43px;
  margin-bottom: 0;
}

#content #dashboard .dashboard__left .userCard h3 {
  font-size: 40px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 3px;
}

#content #dashboard .dashboard__right .timeCard .exercise {
  background-position: top right 18px;
}

@media screen and (max-width: 1200px) {
  #content #dashboard .dashboard__left .userCard {
    width: 230px;
  }
}

@media screen and (max-width: 992px) {
  #content {
    height: unset;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #content #dashboard {
    height: unset;
  }
  #content #dashboard .dashboard__left {
    height: 330px;
    margin-bottom: 30px;
  }
  #content #dashboard .dashboard__left .timeBoard {
    width: 100%;
  }
  #content #dashboard .dashboard__left .timeBoard ul {
    margin-top: 100px;
  }
  #content #dashboard .dashboard__left .timeBoard ul li {
    margin-top: 0;
  }
  #content #dashboard .dashboard__left .userCard {
    width: 100%;
    height: 230px;
  }
  #content #dashboard .dashboard__left .userCard img {
    width: 117px;
    height: 117px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-right: 40px;
  }
  #content #dashboard .dashboard__left .userCard p {
    margin-top: 0;
  }
  #content #dashboard .dashboard__left .userCard h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  #content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.timeCard {
  position: relative;
  height: 244px;
  margin-bottom: 30px;
}

.timeCard .timeCard__info {
  padding: 29px 35px 32px 30px;
  top: 45px;
  color: #ffffff;
}

.timeCard .timeCard__info h2 {
  font-size: 56px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 8px;
  line-height: 1;
}

.timeCard .timeCard__info p {
  font-size: 15px;
  color: #bdc1ff;
  margin-top: 0;
  margin-bottom: 0;
}

.timeCard .timeCard__info svg:hover {
  cursor: pointer;
}

.timeCard .timeCard__info svg:hover path {
  fill: white;
}

.timeCard .timeCard__info:hover {
  cursor: pointer;
  background-color: #33387a;
}

@media screen and (max-width: 992px) {
  .timeCard .timeCard__info p {
    padding-top: 70px;
  }
}
/*# sourceMappingURL=main.css.map */