%card {
    width: $width-card;
    height: $height-card;
    border-radius: $border-radius-card;
    background-color: $color-dark-blue;
    padding: $pd-card;

    position: absolute;
    left: 0;
    bottom: 0;

    @include responsive(extra-large) {
        width: $width-icon-box-xl;
    }

    @include responsive(large) {
        width: 100%;
    }
}
