@each $icon,
    $bg-color
        in ("work", $color-light-red-work)
        ("play", $color-soft-blue-play)
        ("study", $color-light-red-study)
        ("exercise", $color-lime-green-exercise)
        ("social", $color-violet-social)
        ("self-care", $color-soft-orange-self-care)
{
    .#{$icon} {
        @include img($width-card, $height-color-card, unset, $border-radius-card);
        background-image: url(/assets/images/icon-#{$icon}.svg);
        background-position: top $position-2 right $position-3;
        background-repeat: no-repeat;
        background-size: $height-img;
        background-color: $bg-color;

        @include responsive(extra-large) {
            width: $width-icon-box-xl;
        }

        @include responsive(large) {
            width: $width-icon-box-lg;
        }

        @include responsive(medium) {
            width: $width-icon-box-md;
        }

        @media screen and (max-width: $width-max-sm) {
            width: $width-icon-box-sm;
        }
    }
}

