@mixin colorCard($bg-color, $height, $width, $pd, $border-radius) {
    background-color: $bg-color;
    height: $height;
    width: $width;
    padding: $pd;
    border-radius: $border-radius;

    position: absolute;
    left: 0;
    top: 0;
}

@mixin img($width, $height, $border, $border-radius) {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
}

@mixin textStyle($fs, $color, $mg-top, $mg-bottom) {
    font-size: $fs;
    color: $color;
    margin-top: $mg-top;
    margin-bottom: $mg-bottom;
}

@mixin responsive($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        $breakpoint-value: map-get($map: $breakpoints, $key: $breakpoint);
        @media screen and (max-width: $breakpoint-value){
            @content;
        }
    }
}