// COLOR
$color-blue: hsl(246, 80%, 60%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);
$color-soft-blue-play: hsl(195, 74%, 62%); 
$color-dark-blue: hsl(235, 46%, 20%);
$color-light-blue: hsl(236, 41%, 34%);
$color-very-dark-blue: hsl(226, 43%, 10%);

$color-violet-social: hsl(264, 64%, 52%);

$color-lime-green-exercise: hsl(145, 58%, 55%);

$color-light-red-work: hsl(15, 100%, 70%);
$color-light-red-study: hsl(348, 100%, 68%);

$color-soft-orange-self-care: hsl(43, 84%, 65%);

$color-white: #ffffff;

// FONT-SIZE
$fs-1: 18px;
$fs-2: 40px;
$fs-3: 56px;

// FONT-WEIGHT
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;

// HEIGHT
$heigh-100vh: 100vh;
$height-dashboard: 518px;
$height-dashboard-lg: 330px;
$height-card: 199px;
$height-card-mobile: 122px;
$height-user-card: 354px;
$height-user-card-lg: 230px;
$height-time-card: 244px;
$height-time-card-mobile: 160px;
$height-color-card: 160px;
$height-img: 78px;
$height-img-lg: 117px;

// WIDTH
$width-card: 255px;
$width-card-mobile: 327px;
$width-img: 78px;
$width-img-lg: 117px;
$width-icon-box-xl: 230px;
$width-icon-box-lg: 330px;
$width-icon-box-md: 510px;
$width-icon-box-sm: 544px;
$width-max-sm: 575px;

// PADDING
$pd-card: 30px;
$pd-1: 37px;
$pd-2: 20px;
$pd-3: 80px;
$pd-4: 100px;
$pd-5: 70px;

// MARGIN
$mg-1: 20px;
$mg-2: 43px;
$mg-3: 3px;
$mg-4: 30px;
$mg-5: 8px;
$mg-6: 100px;

// BORDER-RADIUS
$border-radius-card: 15px;
$border-radius-50: 50%;

// BORDER
$border-img: 3px solid $color-white;

// POSITION
$position-1: 45px;
$position-2: -10px;
$position-3: 18px;
$position-4: 38px;
$position-5: 30px;

// LINE-HEIGHT
$line-height-1: 1;

// RESPONSIVE
$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    extra-large: 1200px
);