#content {
    height: $heigh-100vh;
    background-color: $color-very-dark-blue;
    #dashboard {
        height: $height-dashboard;
        .dashboard__left {
            height: $height-dashboard;
            position: relative;
            .timeBoard {
                @extend %card;
                padding: $pd-card + 2;
                ul {
                    list-style: none;
                    margin-bottom: 0;
                    li {
                        margin-top: $mg-1;
                        a {
                            color: $color-desaturated-blue;
                            letter-spacing: 0;
                            text-decoration: none;
                        }
                        &:hover,
                        &.active {
                            a {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            .userCard {
                @include colorCard($color-blue, $height-user-card, $width-card, $pd-1 $pd-1 - 5, $border-radius-card);
                img {
                    @include img($width-img, $height-img, $border-img, $border-radius-50);
                }
                p {
                    @include textStyle($fs-1 - 3, $color-pale-blue, $mg-2, 0);
                }
                h3 {
                    @include textStyle($fs-2, $color-white, 0, $mg-3);
                }
            }
        }
        .dashboard__right {
            .timeCard {
                .exercise {
                    background-position: top right $position-3;
                }
            }
        }
    }

    @include responsive(extra-large) {
        #dashboard {
            .dashboard__left {
                .userCard {
                    width: $width-icon-box-xl;
                }
            }
        }
    }

    @include responsive(large) {
        height: unset;
        padding-top: $pd-4;
        padding-bottom: $pd-4;
        #dashboard {
            height: unset;
            .dashboard__left {
                height: $height-dashboard-lg;
                margin-bottom: $mg-4;
                .timeBoard {
                    width: 100%;
                    ul {
                        margin-top: $mg-6;
                        li {
                            margin-top: 0;
                        }
                    }
                }
                .userCard {
                    width: 100%;
                    height: $height-user-card-lg;
                    img {
                        @include img($width-img-lg, $height-img-lg, $border-img, $border-radius-50);
                        margin-right: $mg-1 * 2;
                    }
                    p {
                        margin-top: 0;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @include responsive(medium) {
        padding-top: $pd-3;
        padding-bottom: $pd-3;
    }
}
