.timeCard {
    position: relative;
    height: $height-time-card;
    margin-bottom: $mg-4;
    .timeCard__info {
        @extend %card;
        padding: $pd-card - 1 $pd-1 - 2 $pd-card + 2 $pd-card;
        top: $position-1;
        color: $color-white;
        h2 {
            @include textStyle($fs-3, $color-white, $mg-1 + 4, $mg-5);
            line-height: $line-height-1;
        }
        p {
            @include textStyle($fs-1 - 3, $color-pale-blue, 0, 0);
        }
        svg {
            &:hover {
                cursor: pointer;
                path {
                    fill: white;
                }
            }
        }
        &:hover {
            cursor: pointer;
            background-color: $color-light-blue;
        }
    }

    @include responsive(large) {
        .timeCard__info {
            p {
                padding-top: $pd-5;
            }
        }
    }
}
